@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #eeeeee;
  --purple: #482154;
  --outline: 1px;
  --outline2: 0.1px;
}

@theme inline {
  --breakpoint-*: initial;
  --breakpoint-s: 320px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-purple:var(--purple);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.grid-column-1{
  grid-column: 1;
  grid-row: 1;
}
.justify-self-anchor{
  justify-self: anchor-center;
}
.bg-size-100{
  background-size: 100% 100%;
}
.grid-min-100{
  grid-template-columns: repeat(7, minmax(75px, 1fr));
}

.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 80px;
}

.switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .2s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .2s;
  width: 26px;
}

input:checked + .slider {
  background-color: var(--color-red-700);
}

input:checked + .slider:before {
  transform: translateX(46px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.blur-s {
    --tw-blur: blur(6px);
    filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,) var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,) var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
}

.my-outline {
  -webkit-text-stroke: var(--outline2) black; /* Chrome, Safari, Edge */
  text-stroke: var(--outline2) black; /* future standard */
  text-shadow:
    calc(var(--outline) * -1) 0 0 #000,
    var(--outline) 0 0 #000,
    0 calc(var(--outline) * -1) 0 #000,
    0 var(--outline) 0 #000,
    calc(var(--outline) * -1) calc(var(--outline) * -1) 0 #000,
    var(--outline) calc(var(--outline) * -1) 0 #000,
    calc(var(--outline) * -1) var(--outline) 0 #000,
    var(--outline) var(--outline) 0 #000;
}
